@charset "utf-8";
a{text-decoration:none;cursor:pointer;}
a:focus,*:focus{outline:none}
.clearfix:before,.clearfix:after{content:'';display:table}
.clearfix:after{clear:both;overflow:hidden}
.clearfix{zoom:1}
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
::-webkit-scrollbar{width:5px}
::-webkit-scrollbar-track{background-color:#91AFEF;-webkit-border-radius:2em;-moz-border-radius:2em;border-radius:2em}
::-webkit-scrollbar-thumb{background-color:#4D5A74;-webkit-border-radius:2em;-moz-border-radius:2em;border-radius:2em}
body,button,input,select,textarea,pre,code{font:normal normal 19px/160%  cwTeXYen,Raleway,Microsoft Jhenghei,Arial,sans-serif}
/*----base over----*/
body{color:#111;background: #DDD url('background.png') repeat scroll top left;}
.layui-container{max-width:780px}
.header{margin-top:25px;text-align:center;}
.header .logo a{font-size:24px}
.header .logo .desc{font-size:14px;color:#777;line-height:2}
.header .menu{line-height:60px;}
.header .menu a{color:#333631;padding:10px 15px;letter-spacing:1px;transition-property:background-color,color,font-size;transition-duration:0.2s;transition-timing-function:ease;}
.header .menu a:hover{color: #fff;background-color:#FF5722;border-radius:2px}
.box{margin:-10px 0;}
.nav a{text-align:center;display:block;font-size:19px;border-radius:2px;overflow: hidden;color:#ffffff;background-color:#2c3e50;}
.nav a:hover{}
.nav-header a{line-height: 32px;height: 32px;}
.nav-header a:hover{white-space:nowrap;}
.nav-link a{background-color: #ffffff;line-height: 45px;height: 45px;color: #474a4d;transition-property:background-color, color, font-size;transition-duration:0.2s;transition-timing-function:ease;}
.nav-link a:hover{font-size:26px;}
.nav-link a span{font-size:0;line-height:0}
.layui-layer-content{padding:10px;}
#goshop.layui-layer-content{padding:0;}
.layui-layer-content a{margin:10px;display:inline-block;background-color: #009688;color: #fff;white-space: nowrap;text-align: center;border: none;border-radius: 2px;cursor: pointer;line-height:40px;padding: 0 10px;transition-property:background-color, color;transition-duration:0.2s;transition-timing-function:ease;}
.layui-layer-content a:hover{background-color: #FF5722;}
.footer{text-align:center;color:#555;}
